/*

  Seg-Tac-Toe
    by John "Seg" Seggerson
    http://theseg.github.io/

*/
#stt-main-playfield {
  text-align: center;
}
#stt-main-playfield ul {
  width: 450px;
  margin: 0 0 0 0;
  padding: 0 0 4px 0;
  background-color: #000;
}
#stt-main-playfield ul:last-child {
  padding-bottom: 0;
}
#stt-main-playfield ul li {
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  font-size: 50pt;
  text-align: center;
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}
#stt-main-playfield ul li .icon-stack-base {
  color: #ccc;
  text-shadow: 0 0 4px #000;
}
#stt-main-playfield ul li .glyphicon {
  top: -8px;
}
#stt-main-playfield ul li:last-child {
  padding-right: 0;
}
#stt-main-playfield ul li:hover {
  background-color: #ddd;
}
#stt-main-playfield ul li.input-claimed-x {
  cursor: not-allowed;
}
#stt-main-playfield ul li.input-claimed-x .icon-stack-base {
  color: #999;
}
#stt-main-playfield ul li.input-claimed-x .stt-icon-current-state {
  color: #ff3333;
  text-shadow: 0 0 2px #000;
}
#stt-main-playfield ul li.input-claimed-o {
  cursor: not-allowed;
}
#stt-main-playfield ul li.input-claimed-o .icon-stack-base {
  color: #999;
}
#stt-main-playfield ul li.input-claimed-o .stt-icon-current-state {
  color: #3333ff;
  text-shadow: 0 0 2px #000;
}
#footer {
  background-color: #f5f5f5;
}
