@import "../_less_bootstrap/variables.less";
@import "../_less_bootstrap/mixins.less";

/*

  Seg-Tac-Toe
    by John "Seg" Seggerson
    http://theseg.github.io/

*/

// Variables
@stt-cell-size:150px;
@stt-player-color-x:#ff0;
@stt-player-color-o:#f0f;

body {
  
}

#stt-main-playfield {
  text-align:center;
  ul {
    width:( @stt-cell-size * 3 ) + 0px;
    margin:0 0 0 0;
    padding:0 0 4px 0;
    background-color:#000;
    &:last-child {
      padding-bottom:0;
    }
	.stt-cell-claimed(@targetColor) {
	  background-color:@targetColor;
	  &:hover {
		  background-color:lighten(@targetColor,30%);
	  }		
	}
    li {
      display:table-cell;
      vertical-align:middle;
      background-color:#ccc;
      font-size:20pt;
      text-align:center;
      border:1px solid black;
      width:@stt-cell-size;
      height:@stt-cell-size;
      margin:0 0 0 0;
      padding:0 0 0 0;
      &:last-child {
        padding-right:0;
      }
      &:hover {
        background-color:#ddd;
      }
	  &.input-claimed-x {
		  .stt-cell-claimed(@stt-player-color-x);
	  }
	  &.input-claimed-o {
		  .stt-cell-claimed(@stt-player-color-o);
	  }
    }
  }
}

#footer {
  background-color: #f5f5f5;
}
