@import "../_less_bootstrap/variables.less";
@import "../_less_bootstrap/mixins.less";

/*

  Seg-Tac-Toe
    by John "Seg" Seggerson
    http://theseg.github.io/

*/

// Variables
@stt-cell-size:150px;
@stt-cell-border-size:(4px / 2);
@stt-cell-border-color:#000;
@stt-player-color-x:lighten(#f00,10%);
@stt-player-color-o:lighten(#00f,10%);

// Mixins
#stt {
	.radial (@inner-color: #555) {
		@radial-color-1:fade( @inner-color , 100 );
		@radial-color-2:fade( @inner-color , 75 );
		@radial-color-3:fade( @inner-color , 50 );
		@radial-color-4:fade( @inner-color , 45 );
		@radial-color-5:fade( @inner-color , 0 );
		
		@radial-pos-1:0%;
		@radial-pos-2:25%;
		@radial-pos-3:30%;
		@radial-pos-4:45%;
		@radial-pos-5:70%;
		
	    background-image: -webkit-gradient(
			radial, center center, 0px, center center, 100%,
			color-stop( @radial-pos-1 , @radial-color-1 ),
			color-stop( @radial-pos-2 , @radial-color-2 ), 
			color-stop( @radial-pos-3 , @radial-color-3 ), 
			color-stop( @radial-pos-4 , @radial-color-4 ),
			color-stop( @radial-pos-5 , @radial-color-5 )
		);
	    background-image: -moz-radial-gradient(
			center, ellipse cover,
			@radial-color-1 @radial-pos-1,
			@radial-color-2 @radial-pos-2,
			@radial-color-3 @radial-pos-3,
			@radial-color-4 @radial-pos-4,
			@radial-color-5 @radial-pos-5
		);
	    background-image: -webkit-radial-gradient(
			center, ellipse cover,
			@radial-color-1 @radial-pos-1,
			@radial-color-2 @radial-pos-2,
			@radial-color-3 @radial-pos-3,
			@radial-color-4 @radial-pos-4,
			@radial-color-5 @radial-pos-5
		);
	    background-image: -o-radial-gradient(
			center, ellipse cover,
			@radial-color-1 @radial-pos-1,
			@radial-color-2 @radial-pos-2,
			@radial-color-3 @radial-pos-3,
			@radial-color-4 @radial-pos-4,
			@radial-color-5 @radial-pos-5
		);
	    background-image: -ms-radial-gradient(
			center, ellipse cover,
			@radial-color-1 @radial-pos-1,
			@radial-color-2 @radial-pos-2,
			@radial-color-3 @radial-pos-3,
			@radial-color-4 @radial-pos-4,
			@radial-color-5 @radial-pos-5
		);
	    background-image: radial-gradient(
			ellipse at center,
			@radial-color-1 @radial-pos-1,
			@radial-color-2 @radial-pos-2,
			@radial-color-3 @radial-pos-3,
			@radial-color-4 @radial-pos-4,
			@radial-color-5 @radial-pos-5
		);
		filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{radial-color-1}', endColorstr='#ffffff',GradientType=1 )";
	    background-repeat: no-repeat;
	}
}

// All Styles
#main-container {
	.center-block();
}

#stt-main-playfield {

	.stt-current-player(@targetColor) {
		.icon-stack-base {
			color:lighten( @targetColor, 30%);
		}
		.stt-icon-current-state {
			color:fade(#000,60%);
		}
	}
	
	&.stt-current-player-X {
		.stt-current-player(@stt-player-color-x);
	}
	&.stt-current-player-O {
		.stt-current-player(@stt-player-color-o);
	}
  
  ul {
	.center-block();
    width:( @stt-cell-size * 3 ) + 0px;
    margin-bottom:0;
    background-color:#ff0;
    &:last-child {
      padding-bottom:0;
    }
	
	// Common Function for claimed cells.
	.stt-cell-claimed(@targetColor) {
	  cursor:not-allowed;
	  #stt.radial( @targetColor );
	  .icon-stack-base {
		  color:darken(@targetColor, 30%);
		  text-shadow:0 0 1px #000;
	  }
	  .stt-icon-current-state {
		  color:#fff;
		  text-shadow:0 0 20px #333;
	  }
	  &:hover {
		  #stt.radial( @targetColor );
	  }
	}
	
    li {
      display:table-cell;
      vertical-align:middle;
      background-color:#fff;
      font-size:50pt;
      text-align:center;
      width:@stt-cell-size;
      height:@stt-cell-size;
      margin:0 10px 0 10px;
      padding:0 0 0 0;
	  .user-select(none);
	  cursor:pointer;
	  #stt.radial( rgb(30,30,30) );
	  
	  .icon-stack-base {
		  color:#ccc;
		  text-shadow:0 0 4px #000;
		  .transition(all 0.5s);
	  }
	  .glyphicon {
		  top:-8px;
	  }
      &:last-child {
        padding-right:0;
      }
      &:hover {
		#stt.radial( #09510E );
      }
	  &.input-claimed-x {
		  .stt-cell-claimed(@stt-player-color-x);
	  }
	  &.input-claimed-o {
		  .stt-cell-claimed(@stt-player-color-o);
	  }
	  &.border-top {
	  	border-top:@stt-cell-border-size solid @stt-cell-border-color;
	  }
	  &.border-right {
	  	border-right:@stt-cell-border-size solid @stt-cell-border-color;
	  }
	  &.border-bottom {
	  	border-bottom:@stt-cell-border-size solid @stt-cell-border-color;
	  }
	  &.border-left {
	  	border-left:@stt-cell-border-size solid @stt-cell-border-color;
	  }
    }
  }
}

#footer {
  background-color: #f5f5f5;
}
